[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/foundry-devops"]
	path = contracts/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "contracts/lib/chainlink-brownie-contracts"]
	path = contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/tokenbound"]
	path = contracts/lib/tokenbound
	url = https://github.com/tokenbound/contracts
[submodule "contracts/lib/erc6551"]
	path = contracts/lib/erc6551
	url = https://github.com/erc6551/reference
[submodule "contracts/lib/airnode"]
	path = contracts/lib/airnode
	url = https://github.com/api3dao/airnode
